.navbar {
    display: flex;
    align-items: stretch;

    border: solid grey 1px;
    margin-bottom : 10px;

    background-color: black;
    color: white;
}
.logo {
    background-color: blue;
}
.nav-item {
    display: block;
    flex: 1;
    margin: 0px;

    text-align: center;
    text-decoration: none;
    color: inherit;
}
.nav-item:hover {
    background-color: grey;
    color: black;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}