
.meme-tags {
    margin-top: 2px;
    padding: 1px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.meme-link {
    text-decoration: none;
    color: inherit;
}

.vote-placeholder
{
    box-sizing: border-box;
    margin: 5px;
}
input[type="radio"].btn-vote
{
    display: none;
}
input[type="radio"].btn-vote + label {
    padding: 0.2rem 0.2rem;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
}
input[type="radio"].btn-vote:checked + label {
    color: rgb(223, 140, 32);
    /*background-color: rgb(223, 140, 32);*/
}

