.meme-placeholder {
    display: block;
    border: solid black 0.5px;
    border-radius: 10px;
    padding: 5px 5px 20px 5px;
}

.meme-title {
    margin: 0px;
}

.meme-image {
    /*border-bottom: solid black 2px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
}

.meme-tags {
    margin-top: 2px;
    padding: 1px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.meme-tag {
    border: grey solid 1px;
    padding: 2px;
    margin: 1px;
    background-color: lightgrey;
    border-radius: 2px;
}

.vote-placeholder
{
    box-sizing: border-box;
    margin: 5px;
}
input[type="radio"].btn-vote
{
    display: none;
}
input[type="radio"].btn-vote + label {
    padding: 0.2rem 0.2rem;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2px;
}
input[type="radio"].btn-vote:checked + label {
    color: rgb(223, 140, 32);
    /*background-color: rgb(223, 140, 32);*/
}