<header>
  <ul class="sidenav" id="sidenav-menu">
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="">Memes</a></li>
    <li><a routerLink="/post">Post</a></li>
    <li>
      <form>
        <div class="input-field">
          <i class="material-icons prefix">search</i>
          <input type="text" placeholder="search" id="txt-search" class="label-icon" >
        </div>
      </form>
    </li>
  </ul>
  <div class="navbar-fixed">
    <nav class="blue">
      <div class="nav-wrapper">
        <a routerLink="" class="brand-logo center">MemeBoard</a>
        <a href="#" data-target="sidenav-menu" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        <a href="#" data-target="sidenav-categories" class="sidenav-trigger left"><i class="material-icons">menu</i></a>
        <ul class="hide-on-med-and-down right flex">
          <li>
              <div class="input-field">
                <input id="search" type="search" (search)="this.search($event)" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
          </li>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="">Memes</a></li>
          <li><a routerLink="/post">Post</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>

